# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Lab-3.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Program Files\JetBrains\JetBrains Rider\NETProjects\ISP\2 sem\LR-3\Lab-3\.idea\.idea.Lab-3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
